<style>
  .navbar {
    display: flex;
    align-items: row;
  }

  .Header_body {
    display: flex;
    justify-content: center;
  }

  .img1Text1 {
    display: flex;
    justify-content: center;
  }

  .header_menu{
color: #1B1B1B;
}

  ion-accordion::part(header) {
    padding: 8px; /* Adjust padding */
  }

  ion-accordion::part(content) {
    padding-left: 16px; /* Adjust padding */
  }

  ion-accordion-group {
    ion-accordion {
      ion-accordion-toggle-icon {
        color: green;
      }
    }
  }

  ion-accordion-group {
    padding-left: 105px;
    ion-accordion {
      width: 98%;
      ion-label {
        padding: 8px;
        font-size: 20px;
      }
    }
  }

  .titulo_imagens_accordion_topo {
    padding-left: 113px;
    font-weight: 100;
    font-size: 30px;
  }

  .titulo_imagens {
    padding-left: 113px;
    margin-bottom: -2%;
  }
  .texto_imagens {
    padding-left: 113px;
  }

  .titulo_imagens_accordion {
    padding-left: 113px;
    font-weight: 900;
    font-size: 30px;
  }
  .texto_imagens_accordion {
    padding-left: 113px;
    font-weight: 100;
    font-size: 20px;
  }

  .custom-icon {
    color: #4cbe78;
  }

  .titulo_cardsPais {
    display: flex;
    justify-content: center;
  }

   .titulojuntar{
    font-size: 40px;
  }

  .botaoTrans {
    --background: white;
    --background-hover: #164327;
    --background-activated: #88f4be;
    --background-focused: #88f4be;
    border: solid;
    border-color: #4cbe78;
  }

  .botaoCheio {
    --background: #4cbe78;
    --background-hover: #164327;
    --background-activated: #88f4be;
    --background-focused: #88f4be;
  }

  ion-card {
    display: flex;
    flex-direction: column;

     /* Arranges content vertically within the card */
  }

  @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
</style>

<ion-toolbar class="navbar">
  <ion-grid style="padding-bottom: 1%;">
    <ion-list>
      <ion-item>
        <ion-col style="bottom: 5%;">
          <ion-row style="display: flex; align-items: center;"> <ion-button fill="clear" routerLink="/home" >
<ion-row>
            <ion-img src="/assets/img/icons/Group 59.svg" style=" width: 20%; padding-right: 6%; "></ion-img><h1 style="color: #4cbe78;">Nino</h1>
</ion-row>
          </ion-button>       </ion-row>
        </ion-col>

         <ion-grid style="display: flex; align-items: row;">
           <ion-col style="right: 36%">
             <ion-button fill="clear" routerLink="/porque">
               <h6 class="header_menu">Porque</h6>
             </ion-button>
           </ion-col>
           <ion-col style="right: 36%">
             <ion-button fill="clear" routerLink="/recursos">
               <h6 class="header_menu">Recursos</h6>
             </ion-button>
           </ion-col>
           <ion-col style="right: 36%">
             <ion-button fill="clear" routerLink="/comecando">
               <h6 class="header_menu">Começando</h6>
             </ion-button>
           </ion-col>
           <ion-col style="right: 36%">
             <ion-button fill="clear" routerLink="/precos">
               <h6 class="header_menu">Preços</h6>
             </ion-button>
           </ion-col>
         </ion-grid>

        <ion-grid style="display: flex; align-items: row">
          <ion-col offset="3" class="entrar">
            <ion-button class="botaoCheio" size="medium" routerLink="/login"><div style="color: #F8F8F8; ">Entrar</div></ion-button>
          </ion-col>
          <ion-col style="right: 6%" class="cadastrar">
            <ion-button class="botaoCheio" size="medium" routerLink="/register"><div style="color: #F8F8F8;">Cadastrar</div></ion-button>
          </ion-col>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <div class="topoPorque">
    <ion-grid>
       <ion-label style="display: flex; margin-top: 3%; justify-content: center;">
        <ion-col>
<strong> <h1 class="titulojuntar"  style="display: flex; justify-content: center;">Nós garantimos a segurança</h1></strong>
<strong> <h1 class="titulojuntar"  style="display: flex; justify-content: center;"> e o equilíbrio digital do seu filho</h1></strong>
</ion-col>
  </ion-label>
      <ion-col>
        <div class="tituloPorque">
          <h2  style="display: flex; text-align: center; font-weight: 400; padding-top: 0%; padding-right: 10%; padding-left: 10%; font-size: 125%; ">
            Porque Nino é sua melhor escolha para um aplicativo de controle
            parental, para proteger sua criança.
          </h2>
        </div>
      </ion-col>

      <ion-col style="display: flex; justify-content: center;">
        <div>
          <img src="/assets/img/porque/Group 239242.svg"  style="width: 90%; height: 80%; margin-left: 8%;"/>
        </div>
      </ion-col>
    </ion-grid>
  </div>

  <!--Cards Explicando-->
<div class="Header_body" ><h1 style="font-size: 30px; color:#373737; margin-top: 4%;"><strong>Muito tempo online expões as criaças a mais riscos</strong></h1></div>
  <div class="tituloPorque">
          <h2  style="display: flex; text-align: center; font-weight: 400; margin-top: -0.5%; padding-right: 10%; padding-left: 10%; font-size: 125%; ">
            Sabemos que todas crianças correm risco online, possuimos as ferramentas certas para você e sua familia
          </h2>
        </div>
  <ion-grid style="margin-top: 6%;">
    <ion-row style="margin-bottom: 10%;">
      <ion-col>
        <ion-card class="cardExplicando" style="height: 120%;">
          <ion-grid>
            <ion-row>
              <ion-col style="padding-left: 6%;">
                <h5 style="font-weight: 600; color:#373737; ">Exposição a conteúdo impróprio</h5>
              </ion-col>
              <ion-col style="display: flex; justify-content: end">
                <img
                  alt="Silhouette of mountains"
                  src="/assets/img/porque/Group 239272.svg"
                  style="width: 40%; height: 70%"
                />
              </ion-col>
            </ion-row>

            <ion-card-content>
              <ion-card-subtitle
                >A internet pode expor crianças e adolescentes a violência,
                pornografia ou desinformação. Filtrar conteúdos e acompanhar o
                que é acessado são formas de reduzir riscos.</ion-card-subtitle
              >
            </ion-card-content>
          </ion-grid>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card class="cardExplicando" style="height: 120%;">
          <ion-grid>
            <ion-row>
              <ion-col style="padding-left: 6%;">
                <h5 style="font-weight: 600; color:#373737">Privacidade online</h5>
              </ion-col>

              <ion-col style="display: flex; justify-content: end">
                <img
                  alt="Silhouette of mountains"
                  src="/assets/img/porque/Group 239273.svg"
                  style="width: 50%; height: 70%"
                />
              </ion-col>
            </ion-row>

            <ion-card-content>
              <ion-card-subtitle
                >51% dos adolescentes usam o Facebook. A Nino ajuda você a
                garantir que eles não compartilhem informações pessoais ou
                troquem mensagens inadequadas com estranhos.</ion-card-subtitle
              >
            </ion-card-content>
          </ion-grid>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card class="cardExplicando" style="height: 120%;">
          <ion-grid>
            <ion-row>
              <ion-col style="padding-left: 6%;">
                <h5 style="font-weight: 600; color:#373737">Sedentarismo</h5>
              </ion-col>
              <ion-col style="display: flex; justify-content: end">
                <img
                  alt="Silhouette of mountains"
                  src="/assets/img/porque/Group 239274.svg"
                  style="width: 60%; height: 70%"
                />
              </ion-col>
            </ion-row>

            <ion-card-content>
              <ion-card-subtitle
                >Ficar muito tempo em frente às telas pode causar problemas de
                postura, obesidade e fadiga ocular. Pausas regulares e a prática
                de atividades físicas são fundamentais para o
                bem-estar.</ion-card-subtitle
              >
            </ion-card-content>
          </ion-grid>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card class="cardExplicando" style="height: 120%;">
          <ion-grid>
            <ion-row>
              <ion-col style="padding-left: 6%;">
                <h5 style="font-weight: 600; color:#373737; ">Problemas de saúde mental</h5>
              </ion-col>
              <ion-col style="display: flex; justify-content: end">
                <img
                  alt="Silhouette of mountains"
                  src="/assets/img/porque/Group 239275.svg"
                  style="width: 40%; height: 70%"
                />
              </ion-col>
            </ion-row>

            <ion-card-content>
              <ion-card-subtitle
                >A depressão severa aumentou 58% desde 2010, coincidindo com um
                aumento na posse de telefones celulares. A Nino pode
                ajudá-lo a limitar a quantidade de tempo que seu filho passa na
                frente das telas.</ion-card-subtitle
              >
            </ion-card-content>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="cardExplicando" style="height: 110%;">
          <ion-grid>
            <ion-row>
              <ion-col style="padding-left: 6%;">
                <h5 style="font-weight: 600; color:#373737">Vício em jogos online</h5>
              </ion-col>
              <ion-col style="display: flex; justify-content: end">
                <img
                  alt="Silhouette of mountains"
                  src="/assets/img/porque/Group 239276.svg"
                  style="width: 50%; height: 70%"
                />
              </ion-col>
            </ion-row>

            <ion-card-content>
              <ion-card-subtitle
                >Muitos adolescentes passam horas jogando, o que pode afetar sua
                rotina escolar e social.</ion-card-subtitle
              >
            </ion-card-content>
          </ion-grid>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card class="cardExplicando" style="height: 110%;">
          <ion-grid>
            <ion-row>
              <ion-col style="padding-left: 6%;">
                <h5 style="font-weight: 600; color:#373737">Problemas de sono</h5>
              </ion-col>
              <ion-col style="display: flex; justify-content: end">
                <img
                  alt="Silhouette of mountains"
                  src="/assets/img/porque/Group 239277.svg"
                  style="width: 50%; height: 70%"
                />
              </ion-col>
            </ion-row>

            <ion-card-content>
              <ion-card-subtitle
                >73% dos alunos do ensino médio não dormem o suficiente. Isso
                pode levar a dificuldades de aprendizagem, mau humor e conflitos
                interpessoais. Use a Nino para definir horas de descanso
                antes de dormir, para que seus filhos possam evitar a luz azul
                que perturba o sono.</ion-card-subtitle
              >
            </ion-card-content>
          </ion-grid>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card class="cardExplicando" style="height: 110%;">
          <ion-grid>
            <ion-row>
              <ion-col style="padding-left: 6%;">
                <h5 style="font-weight: 600; color:#373737">Predadores online</h5>
              </ion-col>
              <ion-col style="display: flex; justify-content: end">
                <img
                  alt="Silhouette of mountains"
                  src="/assets/img/porque/Group 239278.svg"
                  style="width: 50%; height: 70%"
                />
              </ion-col>
            </ion-row>

            <ion-card-content>
              <ion-card-subtitle
                >50% das vítimas de exploração online têm entre 12 e 15 anos. Os
                artigos de orientação da Nino ajudam você a conversar com
                seus filhos sobre como localizar e evitar ladrões de dados,
                aliciadores, predadores sexuais e
                perseguidores.</ion-card-subtitle
              >
            </ion-card-content>
          </ion-grid>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card class="cardExplicando" style="height: 110%;">
          <ion-grid>
            <ion-row>
              <ion-col style="padding-left: 6%;">
                <h5 style="font-weight: 600; color:#373737">Cyberbullying</h5>
              </ion-col>
              <ion-col style="display: flex; justify-content: end">
                <img
                  alt="Silhouette of mountains"
                  src="/assets/img/porque/Group 239279.svg"
                  style="width: 60%; height: 70%"
                />
              </ion-col>
            </ion-row>

            <ion-card-content>
              <ion-card-subtitle
                >Cerca de 37% dos adolescentes já sofreram algum tipo de assédio
                online.
              </ion-card-subtitle>
            </ion-card-content>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-footer>
    <div >
      <ion-grid style="display: flex; justify-content:  start; padding: 5%; margin-top: 10%;">
        <ion-list>
          <ion-row>
            <ion-col>
             <ul> <h4><strong>Empresa</strong></h4></ul>
              <ul>
                <h6>Sobre Nós</h6>
              </ul>
              <ul>
               <h6> Contate-nos</h6>
              </ul>
            </ion-col>
            <ion-col>
             <ul> <h4><strong>Produto</strong></h4></ul>
           <ul >
             <ion-button fill="clear" routerLink="/porque">
               <h6>Porque</h6>
             </ion-button>
           </ul>
           <ul >
             <ion-button fill="clear" routerLink="/recursos">
               <h6>Recursos</h6>
             </ion-button>
           </ul>
           <ul >
             <ion-button fill="clear" routerLink="/comecando">
               <h6>Começando</h6>
             </ion-button>
           </ul>
           <ul >
             <ion-button fill="clear" routerLink="/precos">
               <h6>Preços</h6>
             </ion-button>
           </ul>
        </ion-col>
          </ion-row>
        </ion-list>
      </ion-grid>

<ion-item style="display: inline; text-align: start;">
  <ion-label>
2025 Todos direitos reservados / Fiap School
  </ion-label>
</ion-item>
    </div>
  </ion-footer>

</ion-content>
