<style>
  .cardPais {
    width: 85%;
  }

  .entrar {
    padding-left: 10%;
  }
  .cadastrar {
    padding-right: 10%;
  }
</style>
<ion-toolbar class="navbar" >
  <ion-grid  >
    <ion-list >
      <ion-item >


     <ion-col style="right:9%">
          <ion-tab-button tab="tab1">
            <h1>Nino</h1>
          </ion-tab-button>
        </ion-col>


<ion-grid style="display: flex; align-items: row;">
        <ion-col style="right:36%">
              <ion-tab-button tab="tab3" >
            <h6>Porque</h6>
          </ion-tab-button>
        </ion-col>
        <ion-col style="right:36%">
               <ion-tab-button tab="tab2" >
            <h6>Recursos</h6>
          </ion-tab-button>
        </ion-col>
        <ion-col style="right:36%">
            <ion-tab-button tab="tab4">
            <h6>Começando</h6>
          </ion-tab-button>
        </ion-col>
        <ion-col style="right:36%">
          <ion-tab-button tab="precos">
            <h6>Preços</h6>
          </ion-tab-button>
        </ion-col>
        </ion-grid>


        <ion-grid style="display: flex; align-items: row;">
        <ion-col offset="3"  class="entrar">
          <ion-tab-button tab="login">
          <ion-button size="medium">Entrar</ion-button>
          </ion-tab-button>
        </ion-col>
      <ion-col style="right:6%" class="cadastrar">
          <ion-tab-button tab="cadastrar">
          <ion-button size="medium">cadastrar</ion-button>
          </ion-tab-button>
        </ion-col>
        </ion-grid>







      </ion-item>
    </ion-list>
  </ion-grid>
</ion-toolbar>


<ion-content [fullscreen]="true">
  <ion-label>
    <h1>Como se juntar a nós?</h1>
  </ion-label>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button shape="round"></ion-button>
      </ion-col>
      <ion-col>
        <ion-button shape="round"></ion-button>
      </ion-col>
      <ion-col>
        <ion-button shape="round"></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
<br><br><br>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="titulo_imagens"><h2>Filhos</h2></div>
        <div class="texto_imagens">
          <h3>Texto aleatorio de para o site1</h3>
        </div>
<ion-grid>
  <ion-row>
    <ion-col>
        <ion-accordion-group>
        <ion-accordion value="first">
            <ion-item slot="header" color="light">
              <ion-label>First Accordion</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">First Content</div>
          </ion-accordion>
          <ion-accordion value="second">
            <ion-item slot="header" color="light">
              <ion-label>Second Accordion</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">Second Content</div>
          </ion-accordion>
          <ion-accordion value="third">
            <ion-item slot="header" color="light">
              <ion-label>Third Accordion</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">Third Content</div>
          </ion-accordion>
        </ion-accordion-group>
</ion-col>
<ion-col>
        <ion-accordion-group>
          <ion-accordion value="first">
            <ion-item slot="header" color="light">
              <ion-label>First Accordion</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">First Content</div>
          </ion-accordion>
          <ion-accordion value="second">
            <ion-item slot="header" color="light">
              <ion-label>Second Accordion</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">Second Content</div>
          </ion-accordion>
          <ion-accordion value="third">
            <ion-item slot="header" color="light">
              <ion-label>Third Accordion</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">Third Content</div>
          </ion-accordion>
        </ion-accordion-group>
</ion-col>
        </ion-row>
      </ion-grid>
      </ion-col>
      <ion-col>
        <img src="/img1" alt="img1home" />
      </ion-col>
    </ion-row>
  </ion-grid>

<br><br>

<ion-grid>
    <ion-row>
         <ion-col>
        <img src="/img1" alt="img1home" />
      </ion-col>
      <ion-col>
        <div class="titulo_imagens"><h2>Pais</h2></div>
        <div class="texto_imagens">
          <h3>Texto aleatorio de para o site1</h3>
        </div>
<ion-grid>
  <ion-row>
    <ion-col>
        <ion-accordion-group>
        <ion-accordion value="first">
            <ion-item slot="header" color="light">
              <ion-label>First Accordion</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">First Content</div>
          </ion-accordion>
          <ion-accordion value="second">
            <ion-item slot="header" color="light">
              <ion-label>Second Accordion</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">Second Content</div>
          </ion-accordion>
          <ion-accordion value="third">
            <ion-item slot="header" color="light">
              <ion-label>Third Accordion</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">Third Content</div>
          </ion-accordion>
        </ion-accordion-group>
</ion-col>
<ion-col>
        <ion-accordion-group>
          <ion-accordion value="first">
            <ion-item slot="header" color="light">
              <ion-label>First Accordion</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">First Content</div>
          </ion-accordion>
          <ion-accordion value="second">
            <ion-item slot="header" color="light">
              <ion-label>Second Accordion</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">Second Content</div>
          </ion-accordion>
          <ion-accordion value="third">
            <ion-item slot="header" color="light">
              <ion-label>Third Accordion</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">Third Content</div>
          </ion-accordion>
        </ion-accordion-group>
</ion-col>
        </ion-row>
      </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
<br><br>


    <div class="img1Text1">
      <ion-grid>
        <ion-row>
          <ion-col>
            <img src="/img1" alt="img1home" />
          </ion-col>
          <ion-col>
            <div class="titulo_imagens"><h2>Titulo aleatorio site1</h2></div>
            <div class="texto_imagens">
              <h3>Texto aleatorio de para o site1</h3>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <br /><br />
    <div class="img2Text2">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="titulo_imagens"><h2>Titulo aleatorio site2</h2></div>
            <div class="texto_imagens">
              <h3>Texto aleatorio de para o site2</h3>
            </div>
          </ion-col>
          <ion-col>
            <img src="/img2" alt="img2home" />
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
<br><br>
  <div class="criarConta">
    <ion-grid>
<ion-row>
<ion-col>
    <img src="/imgConta" alt="imgConta" />
</ion-col>
  <ion-col>
  <div class="titulo_imagens"><h2>Criar sua Conta</h2></div>
<ion-button shape="round">Cadastrar-se</ion-button>
</ion-col>
  </ion-row>
  </ion-grid>
  </div>

</ion-content>
