<style>
 .navbar {
    display: flex;
    align-items: row;
  }

  .Header_body {
    display: flex;
    justify-content: center;
  }

  .img1Text1 {
    display: flex;
    justify-content: center;
  }

  .header_menu{
color: #1B1B1B;
}


  ion-accordion::part(header) {
    padding: 8px; /* Adjust padding */
  }

  ion-accordion::part(content) {
    padding-left: 16px; /* Adjust padding */
  }

  ion-accordion-group {
    ion-accordion {
      ion-accordion-toggle-icon {
        color: green;
      }
    }
  }

  ion-accordion-group {
    padding-left: 105px;
    ion-accordion {
      width: 98%;
      ion-label {
        padding: 8px;
        font-size: 20px;
      }
    }
  }

  .titulo_imagens_accordion_topo {
    padding-left: 113px;
    font-weight: 100;
    font-size: 30px;
  }

  .titulo_imagens {
    padding-left: 113px;
    margin-bottom: -2%;

  }
   .texto_imagens {
    padding-left: 113px;
  }

  .titulo_imagens_accordion {
    padding-left: 113px;
    font-weight: 900;
    font-size: 30px;
  }
  .texto_imagens_accordion {
    padding-left: 113px;
    font-weight: 100;
    font-size: 20px;
  }

  .custom-icon {
    color: #4cbe78;
  }

  .titulo_cardsPais {
    display: flex;
    justify-content: center;
  }

   .botaoTrans {
  --background: white;
  --background-hover: #164327;
  --background-activated: #88f4be;
  --background-focused: #88f4be;
  border: solid;
  border-color: #4cbe78;

}

 .botaoCheio {
  --background: #4cbe78;
  --background-hover: #164327;
  --background-activated: #88f4be;
  --background-focused: #88f4be;


}

  ion-card {
    display: flex;
    flex-direction: column; /* Arranges content vertically within the card */
  }

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
</style>
<ion-toolbar class="navbar">
  <ion-grid style="padding-bottom: 1%;">
    <ion-list>
      <ion-item>
        <ion-col style="bottom: 5%;">
          <ion-row style="display: flex; align-items: center;"> <ion-button fill="clear" routerLink="/home" >
<ion-row>
            <ion-img src="/assets/img/icons/Group 59.svg" style=" width: 20%; padding-right: 6%; "></ion-img><h1 style="color: #4cbe78;">Nino</h1>
</ion-row>
          </ion-button>       </ion-row>
        </ion-col>

         <ion-grid style="display: flex; align-items: row;">
           <ion-col style="right: 36%">
             <ion-button fill="clear" routerLink="/porque">
               <h6 class="header_menu">Porque</h6>
             </ion-button>
           </ion-col>
           <ion-col style="right: 36%">
             <ion-button fill="clear" routerLink="/recursos">
               <h6 class="header_menu">Recursos</h6>
             </ion-button>
           </ion-col>
           <ion-col style="right: 36%">
             <ion-button fill="clear" routerLink="/comecando">
               <h6 class="header_menu">Começando</h6>
             </ion-button>
           </ion-col>
           <ion-col style="right: 36%">
             <ion-button fill="clear" routerLink="/precos">
               <h6 class="header_menu">Preços</h6>
             </ion-button>
           </ion-col>
         </ion-grid>

        <ion-grid style="display: flex; align-items: row">
          <ion-col offset="3" class="entrar">
            <ion-button class="botaoCheio" size="medium" routerLink="/login"><div style="color: #F8F8F8; ">Entrar</div></ion-button>
          </ion-col>
          <ion-col style="right: 6%" class="cadastrar">
            <ion-button class="botaoCheio" size="medium" routerLink="/register"><div style="color: #F8F8F8;">Cadastrar</div></ion-button>
          </ion-col>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <ion-label style="display: flex; margin-top: 8%; justify-content: center;" >
<strong> <h1>Como se juntar a nós?</h1></strong>
  </ion-label>

  <ion-grid style="text-align: center;">
    <ion-row>
      <ion-col>
        <ion-button shape="round">Como criar sua Conta</ion-button>
      </ion-col>
      <ion-col>
        <ion-button shape="round">Como conectar</ion-button>
      </ion-col>
      <ion-col>
        <ion-button shape="round">Crie sua conta hoje!</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
<br><br><br>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="titulo_imagens"><h2>Filhos</h2></div>
        <div class="texto_imagens">
          <h3>Aplicativo para as crianças</h3>
        </div>
<ion-grid>
  <ion-row>
    <ion-col>
        <ion-accordion-group>
      <ion-accordion value="first" class="accordionHome">
              <ion-item
                slot="header"
                color="light"
                style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px"
              >
                <ion-label style="display: flex; align-items: center; color: #222222;"><ion-icon name="shield-half-outline" style="padding-right: 7%;"></ion-icon>Bloqueio de jogos e aplicativos</ion-label>
                <ion-icon
                  class="ion-accordion-toggle-icon custom-icon"
                  name="caret-down"
                  slot="end"
                >
                </ion-icon>
              </ion-item>
              <div class="ion-padding" slot="content">First Content</div>
            </ion-accordion>


          <ion-accordion value="second" class="accordionHome">
              <ion-item
                slot="header"
                color="light"
                style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px"
              >
                <ion-label style="display: flex; align-items: center; color: #222222;"><ion-icon name="shield-half-outline" style="padding-right: 7%;"></ion-icon>Bloqueio de jogos e aplicativos</ion-label>
                <ion-icon
                  class="ion-accordion-toggle-icon custom-icon"
                  name="caret-down"
                  slot="end"
                >
                </ion-icon>
              </ion-item>
              <div class="ion-padding" slot="content">First Content</div>
            </ion-accordion>


       <ion-accordion value="third" class="accordionHome">
              <ion-item
                slot="header"
                color="light"
                style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px"
              >
                <ion-label style="display: flex; align-items: center; color: #222222;"><ion-icon name="shield-half-outline" style="padding-right: 7%;"></ion-icon>Bloqueio de jogos e aplicativos</ion-label>
                <ion-icon
                  class="ion-accordion-toggle-icon custom-icon"
                  name="caret-down"
                  slot="end"
                >
                </ion-icon>
              </ion-item>
              <div class="ion-padding" slot="content">First Content</div>
            </ion-accordion>


        </ion-accordion-group>
</ion-col>

        </ion-row>
      </ion-grid>
      </ion-col>
      <ion-col>
        <img src="/assets/img/comecando/Group 239304.svg" alt="img1home" />
      </ion-col>
    </ion-row>
  </ion-grid>

<br><br>

<ion-grid>
    <ion-row>
         <ion-col>
        <img src="/assets/img/comecando/Group 239306.svg" alt="img1home" />
      </ion-col>
      <ion-col>
        <div class="titulo_imagens"><h2>Pais</h2></div>
        <div class="texto_imagens">
          <h3>Interface para os responsáveis</h3>
        </div>
<ion-grid>
  <ion-row>
    <ion-col>
        <ion-accordion-group>
        <ion-accordion value="first">
            <ion-item slot="header" color="light">
              <ion-label>First Accordion</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">First Content</div>
          </ion-accordion>
          <ion-accordion value="second">
            <ion-item slot="header" color="light">
              <ion-label>Second Accordion</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">Second Content</div>
          </ion-accordion>
          <ion-accordion value="third">
            <ion-item slot="header" color="light">
              <ion-label>Third Accordion</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">Third Content</div>
          </ion-accordion>
        </ion-accordion-group>
</ion-col>
        </ion-row>
      </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
<br><br>


<br><br>


</ion-content>
