<style>
  .cardPrecos{
    width: 90%;

  }

  .grupoCardsPrecos{
    display: flex;
    justify-content: center;
    margin-left: 12%;
    margin-right: 12%;
  }

  .topoCard{
    display: flex;
    flex-direction: column;

  }

.discount {
text-decoration: line-through;
}

.card1 {
  align-items: center;
}

.linha {
  height: 1px;
  background-color: #ccc;
  margin: 8px 0;
  width: 100%;
}

</style>



<ion-toolbar class="navbar" >
  <ion-grid  >
    <ion-list >
      <ion-item >

     <ion-col style="right:9%">
          <ion-tab-button tab="tab1">
            <h1>Nino</h1>
          </ion-tab-button>
        </ion-col>


<ion-grid style="display: flex; align-items: row;">
        <ion-col style="right:36%">
              <ion-tab-button tab="tab3" >
            <h6>Porque</h6>
          </ion-tab-button>
        </ion-col>
        <ion-col style="right:36%">
               <ion-tab-button tab="tab2" >
            <h6>Recursos</h6>
          </ion-tab-button>
        </ion-col>
        <ion-col style="right:36%">
            <ion-tab-button tab="tab4">
            <h6>Começando</h6>
          </ion-tab-button>
        </ion-col>
        <ion-col style="right:36%">
          <ion-tab-button tab="precos">
            <h6>Preços</h6>
          </ion-tab-button>
        </ion-col>
        </ion-grid>


        <ion-grid style="display: flex; align-items: row;">
        <ion-col offset="3"  class="entrar">
          <ion-tab-button tab="login">
          <ion-button size="medium">Entrar</ion-button>
          </ion-tab-button>
        </ion-col>
      <ion-col style="right:6%" class="cadastrar">
          <ion-tab-button tab="cadastrar">
          <ion-button size="medium">cadastrar</ion-button>
          </ion-tab-button>
        </ion-col>
        </ion-grid>

      </ion-item>
    </ion-list>
  </ion-grid>
</ion-toolbar>







<ion-content [fullscreen]="true">

   <div class="tition-item-groupoPrecos"><h2>Tition-item-groupo aleatorio site2</h2></div>
            <div class="textoTition-item-groupoPrecos">
              <h3>Texto aleatorio de para o site2</h3>
            </div>


<!--CardsPrecos-->
<ion-grid class="grupoCardsPrecos">
  <ion-row>
<ion-col>
            <ion-card class="cardPrecos">
  <ion-card-header>
    <ion-card-title><ion-row>
                <img src="Cadeado">
                <h2>Basico</h2>
          </ion-row></ion-card-title>
          <div class="linha"></div>
          <h1>Gratuita</h1>
          <ion-button fill="outline">Atualmente</ion-button>
  </ion-card-header>

  <ion-card-content>
    <ion-item-group>
            <ion-item lines="none">Bloqueio de jogos e aplicativos</ion-item>
            <ion-item lines="none">Monitoramento de redes sociais</ion-item>
            <ion-item lines="none">Limites de tempo diário</ion-item>
            <ion-item lines="none">Filtro de conteúdo</ion-item>
            <ion-item lines="none">Monitoramento de localização</ion-item>
            <ion-item lines="none"><ion-thumbnail slot="start">
    <img src="assets/Precooss/Certinho.png"/>
  </ion-thumbnail>Controle de compra</ion-item>
          </ion-item-group>
  </ion-card-content>
</ion-card>
</ion-col>
    <ion-col>
            <ion-card class="cardPrecos">
  <ion-card-header>
    <ion-item class="topoCard">

      <ion-col>
    <ion-card-title><ion-row>
            <img src="Cadeado">
            <h2>Completo</h2>
          </ion-row></ion-card-title>
<div class="linha"></div>
      <ion-card-title><ion-row class="card1"><h3>R$192.00/ano</h3>
          <ion-text><ion-col>
            <h6>R$20/mes</h6>
            <h5 class="discount"><i>R$240/ano</i></h5></ion-col>
          </ion-text>
</ion-row>
          </ion-card-title>
</ion-col>

</ion-item>
<ion-button fill="outline">Assinar</ion-button>
  </ion-card-header>

  <ion-card-content>
    <ion-item-group>
            <ion-item lines="none">Bloqueio de jogos e aplicativos</ion-item>
            <ion-item lines="none">Monitoramento de redes sociais</ion-item>
            <ion-item lines="none">Limites de tempo diário</ion-item>
            <ion-item lines="none">Filtro de conteúdo</ion-item>
            <ion-item lines="none">Monitoramento de localização</ion-item>
            <ion-item lines="none">Controle de compra</ion-item>
            <ion-item lines="none">Controle remote camera e áudio</ion-item>
            <ion-item lines="none">Assistente familiar (tudo)</ion-item>
            <ion-item lines="none">Acompanhar atividades da familia.</ion-item>
            <ion-item lines="none">Atividades em familia com recompensas (missoões,desafios em familia)</ion-item>

            <ion-item lines="none">Meiosde segurança (botão de pânico, detecção de acidentes)</ion-item>
            <ion-item lines="none">Capturas de tela automática</ion-item>
            <ion-item lines="none">Função minimalista para o celion-item-groupar (Simplificar todo o celion-item-groupar)</ion-item>
            <ion-item lines="none">Relatórios (com IA e sem)</ion-item>
          </ion-item-group>
  </ion-card-content>
</ion-card>
</ion-col>



</ion-row>
</ion-grid>




</ion-content>

