<style>



 .navbar {
    display: flex;
    align-items: row;
  }

  .Header_body {
    display: flex;
    justify-content: center;
  }

  .img1Text1 {
    display: flex;
    justify-content: center;
  }

  ion-accordion::part(header) {
    padding: 8px; /* Adjust padding */
  }

  ion-accordion::part(content) {
    padding-left: 16px; /* Adjust padding */
  }

  ion-accordion-group {
    ion-accordion {
      ion-accordion-toggle-icon {
        color: green;
      }
    }
  }

  ion-accordion-group {
    padding-left: 105px;
    ion-accordion {
      width: 98%;
      ion-label {
        padding: 8px;
        font-size: 20px;
      }
    }
  }

.header_menu{
color: #1B1B1B;
}

  .titulo_imagens_accordion_topo {
    padding-left: 113px;
    font-weight: 100;
    font-size: 30px;
  }

  .titulo_imagens {
    padding-left: 113px;
    margin-bottom: -2%;

  }
   .texto_imagens {
    padding-left: 113px;
  }

  .titulo_imagens_accordion {
    padding-left: 113px;
    font-weight: 900;
    font-size: 30px;
  }
  .texto_imagens_accordion {
    padding-left: 113px;
    font-weight: 100;
    font-size: 20px;
  }

  .custom-icon {
    color: #4cbe78;
  }

  .titulo_cardsPais {
    display: flex;
    justify-content: center;
  }

   .botaoTrans {
  --background: white;
  --background-hover: #164327;
  --background-activated: #88f4be;
  --background-focused: #88f4be;
  border: solid;
  border-color: #4cbe78;

}

 .botaoCheio {
  --background: #4cbe78;
  --background-hover: #164327;
  --background-activated: #88f4be;
  --background-focused: #88f4be;

}


</style>


<ion-toolbar class="navbar">
  <ion-grid style="padding-bottom: 1%;">
    <ion-list>
      <ion-item>
        <ion-col style="bottom: 5%;">
          <ion-row style="display: flex; align-items: center;"> <ion-button fill="clear" routerLink="/home" >
<ion-row>
            <ion-img src="/assets/img/icons/Group 59.svg" style=" width: 20%; padding-right: 6%; "></ion-img><h1 style="color: #4cbe78;">Nino</h1>
</ion-row>
          </ion-button>       </ion-row>
        </ion-col>

         <ion-grid style="display: flex; align-items: row;">
           <ion-col style="right: 36%">
             <ion-button fill="clear" routerLink="/porque">
               <h6 class="header_menu">Porque</h6>
             </ion-button>
           </ion-col>
           <ion-col style="right: 36%">
             <ion-button fill="clear" routerLink="/recursos">
               <h6 class="header_menu">Recursos</h6>
             </ion-button>
           </ion-col>
           <ion-col style="right: 36%">
             <ion-button fill="clear" routerLink="/comecando">
               <h6 class="header_menu">Começando</h6>
             </ion-button>
           </ion-col>
           <ion-col style="right: 36%">
             <ion-button fill="clear" routerLink="/precos">
               <h6 class="header_menu">Preços</h6>
             </ion-button>
           </ion-col>
         </ion-grid>

        <ion-grid style="display: flex; align-items: row">
          <ion-col offset="3" class="entrar">
            <ion-button class="botaoCheio" size="medium" routerLink="/login"><div style="color: #F8F8F8; ">Entrar</div></ion-button>
          </ion-col>
          <ion-col style="right: 6%" class="cadastrar">
            <ion-button class="botaoCheio" size="medium" routerLink="/register"><div style="color: #F8F8F8;">Cadastrar</div></ion-button>
          </ion-col>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-toolbar>



<ion-content [fullscreen]="true"  class="background-image">

  <div style="text-align: center; margin-top: 160px; font-size: 260%; font-weight: bold;">
  <ion-title class="title1" ><h1 style="font-size: 29px; font-weight: 600;">Confira nossos planos para voce ter a melhor experiência possível </h1></ion-title>
</div>

<!--CardsPrecos-->
<ion-grid class="grupoCardsPrecos" style="padding: 15%;">
<ion-row>
<ion-col>
<ion-card class="cardPrecos">
<ion-card-header>
<ion-card-title><ion-row>
<img src="/assets/img/preco/image 41.svg">
<h2>Basico</h2>
</ion-row></ion-card-title>
<div class="linha"></div>
<h1 class="title2">Gratuita</h1>
<ion-button fill="outline" class="button1">Atualmente</ion-button>
</ion-card-header>

  <ion-card-content>
<ion-item-group>
<ion-item lines="none"><ion-thumbnail slot="start" class="certinhos" >
<img src="/assets/img/preco/Check Mark.svg"/>
</ion-thumbnail>Bloqueio de jogos e aplicativos</ion-item>
<ion-item lines="none"><ion-thumbnail slot="start" class="certinhos">
<img src="/assets/img/preco/Check Mark.svg"/>
</ion-thumbnail>Botão de pânico</ion-item>
<ion-item lines="none"><ion-thumbnail slot="start" class="certinhos">
<img src="/assets/img/preco/Check Mark.svg"/>
</ion-thumbnail>Limites de tempo diário</ion-item>
<ion-item lines="none"><ion-thumbnail slot="start" class="certinhos">
<img src="/assets/img/preco/Check Mark.svg"/>
</ion-thumbnail>Filtro de conteúdo</ion-item>
<ion-item lines="none"><ion-thumbnail slot="start" class="certinhos">
<img src="/assets/img/preco/Check Mark.svg"/>
</ion-thumbnail>Monitoramento de localização</ion-item>
<ion-item lines="none"><ion-thumbnail slot="start" class="certinhos">
<img src="/assets/img/preco/Check Mark.svg"/>
</ion-thumbnail>Controle de Compras</ion-item>
<ion-item lines="none"><ion-thumbnail slot="start" class="certinhos">
<img src="/assets/img/preco/Check Mark.svg"/>
</ion-thumbnail>Modo foco</ion-item>
<ion-item lines="none"><ion-thumbnail slot="start" class="certinhos">
<img src="/assets/img/preco/Check Mark.svg"/>
</ion-thumbnail>Desafio de detox digitak</ion-item>
<ion-item lines="none"><ion-thumbnail slot="start" class="certinhos">
<img src="/assets/img/preco/Check Mark.svg"/>
</ion-thumbnail>Alerta de Excesso de uso</ion-item>
</ion-item-group>
</ion-card-content>
</ion-card>
</ion-col>
<ion-col>
<ion-card class="cardPrecos">
<ion-card-header>
<ion-item class="topoCard">

<ion-col>
<ion-card-title><ion-row>
<img src="/assets/img/preco/image 41.svg">
<h2>Completo</h2>
</ion-row></ion-card-title>
<div class="linha"></div>
<ion-card-title>
  <ion-row>
    <ion-text style="text-align: center;">
      <h3 style="font-weight: bolder;">R$192.00/ano</h3>
    </ion-text>
    <ion-text>
    <h5>R$20/mês</h5>
    <h5 style="text-decoration: line-through;"><i>R$240/ano</i></h5>
    </ion-text>
  </ion-row>
</ion-card-title>
</ion-col>

</ion-item>
<ion-button fill="outline" class="button1">Assinar</ion-button>
</ion-card-header>

  <ion-card-content>
<ion-item-group>
<ion-item lines="none"><ion-thumbnail slot="start" class="certinhos">
<img src="#"/>
</ion-thumbnail>Tudo da versão grátis+</ion-item>
<ion-item lines="none"><ion-thumbnail slot="start" class="certinhos">
<img src="/assets/img/preco/Check Mark.svg"/>
</ion-thumbnail>Monitoramento de redes sociais</ion-item>
<ion-item lines="none"><ion-thumbnail slot="start" class="certinhos">
<img src="/assets/img/preco/Check Mark.svg"/>
</ion-thumbnail>Detector de acidentes</ion-item>
<ion-item lines="none"><ion-thumbnail slot="start" class="certinhos">
<img src="/assets/img/preco/Check Mark.svg"/>
</ion-thumbnail>Controle remoto câmera e áudio</ion-item>
<ion-item lines="none"><ion-thumbnail slot="start" class="certinhos">
<img src="/assets/img/preco/Check Mark.svg"/>
</ion-thumbnail>Capturas de tela automática</ion-item>
<ion-item lines="none"><ion-thumbnail slot="start" class="certinhos">
<img src="/assets/img/preco/Check Mark.svg"/>
</ion-thumbnail>Relatórios</ion-item>
</ion-item-group>
</ion-card-content>
</ion-card>
</ion-col>


</ion-row>
</ion-grid>



</ion-content>
