<ion-toolbar class="navbar" >
  <ion-grid  >
    <ion-list >
      <ion-item >


     <ion-col style="right:9%">
          <ion-tab-button tab="tab1">
            <h1>Nino</h1>
          </ion-tab-button>
        </ion-col>


<ion-grid style="display: flex; align-items: row;">
        <ion-col style="right:36%">
              <ion-tab-button tab="tab3" >
            <h6>Porque</h6>
          </ion-tab-button>
        </ion-col>
        <ion-col style="right:36%">
               <ion-tab-button tab="tab2" >
            <h6>Recursos</h6>
          </ion-tab-button>
        </ion-col>
        <ion-col style="right:36%">
            <ion-tab-button tab="tab4">
            <h6>Começando</h6>
          </ion-tab-button>
        </ion-col>
        <ion-col style="right:36%">
          <ion-tab-button tab="precos">
            <h6>Preços</h6>
          </ion-tab-button>
        </ion-col>
        </ion-grid>


        <ion-grid style="display: flex; align-items: row;">
        <ion-col offset="3"  class="entrar">
          <ion-tab-button tab="login">
          <ion-button size="medium">Entrar</ion-button>
          </ion-tab-button>
        </ion-col>
      <ion-col style="right:6%" class="cadastrar">
          <ion-tab-button tab="cadastrar">
          <ion-button size="medium">cadastrar</ion-button>
          </ion-tab-button>
        </ion-col>
        </ion-grid>







      </ion-item>
    </ion-list>
  </ion-grid>
</ion-toolbar>


<ion-content [fullscreen]="true">
  <div style="padding-left: 30%; padding-right: 30%; margin-top: 10%;">

    <ion-card style="padding: 10%">
      <div>
        <img src="#" alt="imgNino" />
        <h2>Nino</h2>
      </div>
      <div>
        <ion-label><h6>Email:</h6></ion-label>
        <ion-item><ion-input placeholder="Email"> </ion-input></ion-item>
      </div>
            <div>
        <ion-label><h6>Senha:</h6></ion-label>
        <ion-item><ion-input placeholder="Senha"> </ion-input></ion-item>
      </div>
            <div>
        <ion-label><h6>Confirmar Senha:</h6></ion-label>
        <ion-item><ion-input placeholder="Confirmar Senha"> </ion-input></ion-item>
      </div>

<div>
  <ion-button>Cadastrar-se</ion-button>
</div>

<p>Já possui uma conta? <a href="#">Faça login</a></p>

    </ion-card>

  </div>
</ion-content>
