<style>


 .navbar {
    display: flex;
    align-items: row;
  }

  .Header_body {
    display: flex;
    justify-content: center;
  }

  .img1Text1 {
    display: flex;
    justify-content: center;
  }

  ion-accordion::part(header) {
    padding: 8px; /* Adjust padding */
  }

  ion-accordion::part(content) {
    padding-left: 16px; /* Adjust padding */
  }

  ion-accordion-group {
    ion-accordion {
      ion-accordion-toggle-icon {
        color: green;
      }
    }
  }

  ion-accordion-group {
    padding-left: 105px;
    ion-accordion {
      width: 98%;
      ion-label {
        padding: 8px;
        font-size: 20px;
      }
    }
  }

  .titulo_imagens_accordion_topo {
    padding-left: 113px;
    font-weight: 100;
    font-size: 30px;
  }

  .titulo_imagens {
    padding-left: 113px;
    margin-bottom: -2%;

  }
   .texto_imagens {
    padding-left: 113px;
  }

  .titulo_imagens_accordion {
    padding-left: 113px;
    font-weight: 900;
    font-size: 30px;
  }
  .texto_imagens_accordion {
    padding-left: 113px;
    font-weight: 100;
    font-size: 20px;
  }

  .custom-icon {
    color: #4cbe78;
  }

  .titulo_cardsPais {
    display: flex;
    justify-content: center;
  }

  ion-button {
  --background: #4cbe78;
  --background-hover: #164327;
  --background-activated: #88f4be;
  --background-focused: #88f4be;


}

  ion-card {
    display: flex;
    flex-direction: column; /* Arranges content vertically within the card */
  }

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
</style>


<ion-toolbar class="navbar">
  <ion-grid style="padding-bottom: 1%;">
    <ion-list>
      <ion-item>
        <ion-col style="right: 3%; bottom: 5%;">
          <ion-tab-button tab="tab1" >
            <ion-row style="display: flex; align-items: center;">
            <ion-img src="/assets/img/icons/Group 59.svg" style="height: 8%; width: 18%; margin-right: 7%;"></ion-img><h1>Nino</h1>
            </ion-row>
          </ion-tab-button>
        </ion-col>

        <ion-grid style="display: flex; align-items: row;">
          <ion-col style="right: 36%">
            <ion-tab-button tab="tab3">
              <h6>Porque</h6>
            </ion-tab-button>
          </ion-col>
          <ion-col style="right: 36%">
            <ion-tab-button tab="tab2">
              <h6>Recursos</h6>
            </ion-tab-button>
          </ion-col>
          <ion-col style="right: 36%">
            <ion-tab-button tab="tab4">
              <h6>Começando</h6>
            </ion-tab-button>
          </ion-col>
          <ion-col style="right: 36%">
            <ion-tab-button tab="precos">
              <h6>Preços</h6>
            </ion-tab-button>
          </ion-col>
        </ion-grid>

        <ion-grid style="display: flex; align-items: row">
          <ion-col offset="3" class="entrar">
            <ion-tab-button tab="login">
              <ion-button size="medium"><div style="color: #F8F8F8;">Entrar</div></ion-button>
            </ion-tab-button>
          </ion-col>
          <ion-col style="right: 6%" class="cadastrar">
            <ion-tab-button tab="cadastrar">
              <ion-button size="medium"><div style="color: #F8F8F8;">Cadastrar</div></ion-button>
            </ion-tab-button>
          </ion-col>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <div style="margin-bottom: 35%">
    <div style="justify-content: center; display: flex; margin-top: 125px">
      <h1 style="font-size: 250%; font-weight: bold; color: #1B1B1B;">O melhor para o futuro de sua criança<br><div style="color:#44A96B ;">controle parental <kbd style="color: #1B1B1B;">e</kbd> minimalismo digital </div></h1>
    </div>
    <br />

    <div style="justify-content: center; display: flex">
      <button style="background-color: #4cbe78">Experimente nosso app</button>
    </div>
    <br />
    <div style="justify-content: center; display: flex">
      <button
        style="
          border: 2px solid #4cbe78;
          color: #4cbe78;
          background-color: transparent;
        "
      >
        Veja nossos planos
      </button>
    </div>
    <br /><br />
  </div>



  <!--Texto imagens-->
  <div class="grupoImgText">
    <div class="grupoTextoImgaem" style="background-color: #F8F8F8; ">
    <div class="Header_body" ><h1 style="font-size: 30px; color:#373737; margin-top: 8%;"><strong>“Nada melhor do que uma família unida”</strong></h1></div>
  <br />
    <div class="img1Text1" style=" padding: 5%;">
      <ion-grid>
        <ion-row style="display: flex; align-items: center; ">
          <ion-col style="padding-left: 10%;">
            <div class="titulo">
              <h2 style="font-size: 30px; color:#373737;"><strong>O Que Somos</strong></h2>
            </div>
            <div class="texto">
              <h5
                style="
                  display: flex;
                  justify-content: start;
                  align-items: start;
                  font-weight: normal;
                  font-size: 19px;
                  width: 80%;
                  color: #555555;


                "
              >
                Buscamos mostrar para os clientes um controle parental para
                monitorar, proteger, e também promover o valor da família
                tradicional, atividades em família, e ambos terem menos tempo no
                eletrônicos. A partir dele conseguirá usar de acordo com suas
                necessidades.
              </h5>
            </div>

          </ion-col>

          <ion-col
            style="display: inline; height: 200%"
          >
            <ion-img
              src="/assets/img/Home/Group 239243 (1).svg"
              alt="Gabriel Costa"
              style="height: 70%; width: 80%"
            ></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="img2Text2"  style="margin-top:-12%; padding: 5%;">
      <ion-grid>
        <ion-row style="display: flex; align-items: center;">
          <ion-col
            style="display: inline; height: 200%" >
            <ion-img
              src="/assets/img/Home/Group 239224.svg"
              alt="Gabriel Costa"
              style="height: 90%; width: 90%"
            ></ion-img>
          </ion-col>



          <ion-col>
             <div class="titulo">
              <h2 style="font-size: 30px; color:#373737;"><strong>O Que Somos</strong></h2>
            </div>
            <div class="texto">
              <h5   style="
                  display: flex;
                  justify-content: start;
                  align-items: start;
                  font-weight: normal;
                  font-size: 19px;
                  width: 80%;
                  color: #555555;
                ">
                Usando metódos do minimalismo digital, que já se provou
                extremamente eficiente, criamos em conjunto, uma cultura mais
                saúdavel para as crianças e os pais, com menos luz das telas e
                mais luz solar na vida.
              </h5>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    </div>
    <br />

<div style="display: flex; justify-content: center;"><ion-img src="/assets/img/Home/Group 239245.svg" style="height: 60%; width: 75%; margin-top: -3%;"></ion-img></div>
    <br />

    <div class="img4Text4"  style="margin-top:15%; padding: 5% ; display: inline;">
      <ion-grid>
        <ion-row>
          <ion-col>

            <ion-row>

  <div class="img5Text5Accordion" >
    <ion-grid>
      <ion-row>
 <ion-col>

    <div class="titulo_imagens">
              <h2 style="font-weight: 400;">Ambiente para toda a familia!</h2>
            </div>
            <div class="texto_imagens">
              <h2 style=" font-size: 31px; color:#373737;" >
                <strong>Todas as funções que vão ajudar a melhorar e proteger seus filhos online.</strong>
              </h2>
            </div>

          <div class="texto_imagens_accordion">
            <p style="font-weight: normal; font-size: 18px;">
              Clique e veja nossas ferramentas disponíveis na Nino
            </p>
          </div>
          <ion-accordion-group>
            <ion-accordion value="first" class="accordionHome">
              <ion-item
                slot="header"
                color="light"
                style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px"
              >
                <ion-label style="display: flex; align-items: center; color: #222222;"><ion-icon name="shield-half-outline" style="padding-right: 7%;"></ion-icon>Bloqueio de jogos e aplicativos</ion-label>
                <ion-icon
                  class="ion-accordion-toggle-icon custom-icon"
                  name="caret-down"
                  slot="end"
                >
                </ion-icon>
              </ion-item>
              <div class="ion-padding" slot="content">First Content</div>
            </ion-accordion>

            <ion-accordion value="second" class="accordionHome">
              <ion-item
                slot="header"
                color="light"
                style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px"
              >
                <ion-label  style="display: flex; align-items: center; color: #222222;"><ion-icon name="apps-outline" style="padding-right: 7%;"></ion-icon>Minimalismo digital</ion-label>
                <ion-icon
                  class="ion-accordion-toggle-icon custom-icon"
                  name="caret-down"
                  slot="end"
                >
                </ion-icon>
              </ion-item>
              <div class="ion-padding" slot="content">Second Content</div>
            </ion-accordion>

            <ion-accordion value="third" class="accordionHome">
              <ion-item
                slot="header"
                color="light"
                style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px"
              >
                <ion-label  style="display: flex; align-items: center; color: #222222;"><ion-icon name="bar-chart-outline" style="padding-right: 7%;"></ion-icon>Monitoramento de atividades</ion-label>
                <ion-icon
                  class="ion-accordion-toggle-icon custom-icon"
                  name="caret-down"
                  slot="end"
                >
                </ion-icon>
              </ion-item>
              <div class="ion-padding" slot="content">Third Content</div>
            </ion-accordion>

            <ion-accordion value="fourth" class="accordionHome">
              <ion-item
                slot="header"
                color="light"
                style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px"
              >
                <ion-label  style="display: flex; align-items: center; color: #222222;"><ion-icon name="location-outline"  style="padding-right: 7%;"></ion-icon>Localize sua familia</ion-label>
                <ion-icon
                  class="ion-accordion-toggle-icon custom-icon"
                  name="caret-down"
                  slot="end"
                >
                </ion-icon>
              </ion-item>

              <div class="ion-padding" slot="content">Fourth Content</div>
            </ion-accordion>

             <ion-accordion value="fifth" class="accordionHome">
              <ion-item
                slot="header"
                color="light"
                style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px"
              >
                <ion-label  style="display: flex; align-items: center; color: #222222;"><ion-icon name="camera-outline" style="padding-right: 7%;"></ion-icon> Controle remoto de câmera e áudio </ion-label>
                <ion-icon
                  class="ion-accordion-toggle-icon custom-icon"
                  name="caret-down"
                  slot="end"
                >
                </ion-icon>
              </ion-item>
              <div class="ion-padding" slot="content">Fifth Content</div>
            </ion-accordion>

 <ion-accordion value="seventh" class="accordionHome">
              <ion-item
                slot="header"
                color="light"
                style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px"
              >
                <ion-label  style="display: flex; align-items: center; color: #222222;"><ion-icon name="albums-outline" style="padding-right: 7%;"></ion-icon>Filtre conteúdos</ion-label>
                <ion-icon
                  class="ion-accordion-toggle-icon custom-icon"
                  name="caret-down"
                  slot="end"
                >
                </ion-icon>
              </ion-item>
              <div class="ion-padding" slot="content">seventh Content</div>
            </ion-accordion>
             <ion-accordion value="sixth" class="accordionHome">
              <ion-item
                slot="header"
                color="light"
                style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px"
              >
                <ion-label  style="display: flex; align-items: center; color: #222222;"><ion-icon name="notifications-outline" style="padding-right: 7%;"></ion-icon>Receba relátorios, alertas e SOS</ion-label>
                <ion-icon
                  class="ion-accordion-toggle-icon custom-icon"
                  name="caret-down"
                  slot="end"
                >
                </ion-icon>
              </ion-item>
              <div class="ion-padding" slot="content">sixth Content</div>
            </ion-accordion>
          </ion-accordion-group>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>
</ion-row>
          </ion-col>

          <ion-col
            style="display: inline; height: 200%; margin-top: 3%;"
          >
            <ion-img
              src="/assets/img/Home/Group 239230.svg"
              alt="Gabriel Costa"
              style="height: 80%; width: 80%"
            ></ion-img>
          </ion-col>
        </ion-row>

      </ion-grid>
    </div>
  </div>

  <br /><br />


  <!--Cards dos Pais-->
  <div class="cardsPaiscomTitulo">
    <div class="titulo_cardsPais"><h2>O que os outros pais acharam?</h2></div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="cardPais">
            <ion-card style="width: 60%; display: relative; margin: 0px auto">
              <img
                alt="Silhouette of mountains"
                src="/assets/img/Home/Group 239258.svg"
              />
              <ion-card-header>
                <ion-card-title>Card Title</ion-card-title>
                <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
              </ion-card-header>

              <ion-card-content>
                Here's a small text description for the card content. Nothing
                more, nothing less.
              </ion-card-content>
            </ion-card>
          </div>
        </ion-col>

        <ion-col>
          <div class="cardPais">
            <ion-card style="width: 60%; display: relative; margin: 0px auto">
              <img
                alt="Silhouette of mountains"
                src="/assets/img/Home/Group 239258 (1).svg"
              />
              <ion-card-header>
                <ion-card-title>Card Title</ion-card-title>
                <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
              </ion-card-header>

              <ion-card-content>
                Here's a small text description for the card content. Nothing
                more, nothing less.
              </ion-card-content>
            </ion-card>
          </div>
        </ion-col>

        <ion-col>
          <div class="cardPais">
            <ion-card style="width: 60%; display: relative; margin: 0px auto">
              <img
                alt="Silhouette of mountains"
                src="/assets/img/Home/Group 239258 (2).svg"
              />
              <ion-card-header>
                <ion-card-title>Card Title</ion-card-title>
                <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
              </ion-card-header>

              <ion-card-content>
                Here's a small text description for the card content. Nothing
                more, nothing less.
              </ion-card-content>
            </ion-card>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-footer>
    <div >
      <ion-grid style="display: flex; justify-content:  start; padding: 5%; margin-top: 10%;">
        <ion-list>
          <ion-row>
            <ion-col>
             <ul> <h4><strong>Empresa</strong></h4></ul>
              <ul>
                <h6>Sobre Nós</h6>
              </ul>
              <ul>
               <h6> Contate-nos</h6>
              </ul>
            </ion-col>
            <ion-col>
             <ul> <h4><strong>Produto</strong></h4></ul>
          <ul >
            <ion-tab-button tab="tab3">
              <h6>Porque</h6>
            </ion-tab-button>
          </ul>
          <ul >
            <ion-tab-button tab="tab2">
              <h6>Recursos</h6>
            </ion-tab-button>
          </ul>
          <ul >
            <ion-tab-button tab="tab4">
              <h6>Começando</h6>
            </ion-tab-button>
          </ul>
          <ul >
            <ion-tab-button tab="precos">
              <h6>Preços</h6>
            </ion-tab-button>
          </ul>
        </ion-col>
            <ion-col>
<ion-img src="/assets/img/icons/Group 59.svg"></ion-img>
            </ion-col>

          </ion-row>
        </ion-list>
      </ion-grid>

<ion-item style="display: inline; text-align: start;">
  <ion-label>
2025 Todos direitos reservados / Fiap School
  </ion-label>
</ion-item>
    </div>
  </ion-footer>
</ion-content>
