<style>


  .navbar{
    display: flex;
    align-items: row;
  }

  .Header_body{
    display: flex;
    justify-content: center;
  }

  .img1Text1{
    display: flex;
    justify-content: center;
  }

        ion-accordion::part(header) {
            padding: 8px; /* Adjust padding */
        }

        ion-accordion::part(content) {
            padding-left: 16px; /* Adjust padding */
        }

        ion-accordion-group{
          ion-accordion{
             ion-accordion-toggle-icon {
               color: green
              }
          }
        }

        ion-accordion-group{
       padding-left: 105px;
          ion-accordion{
            width: 98%;
            ion-label{
              padding:8px;
              font-size: 20px;

            }
          }
        }

        .titulo_imagens_accordion_topo{
           padding-left: 113px;
           font-weight: 100;
           font-size: 30px;
        }

        .titulo_imagens_accordion{
           padding-left: 113px;
           font-weight: 900;
           font-size: 30px;
        }
        .texto_imagens_accordion{
           padding-left: 113px;
           font-weight: 100;
           font-size: 20px;
        }

        .custom-icon {
  color: #4CBE78
}


   .titulo_cardsPais{
    display: flex;
    justify-content: center
   }

   ion-card{
     display: flex;
  flex-direction: column; /* Arranges content vertically within the card */
   }



@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
</style>


<ion-toolbar class="navbar" >
  <ion-grid  >
    <ion-list >
      <ion-item >


     <ion-col style="right:9%">
          <ion-tab-button tab="tab1">
            <h1>Nino</h1>
          </ion-tab-button>
        </ion-col>


<ion-grid style="display: flex; align-items: row;">
        <ion-col style="right:36%">
              <ion-tab-button tab="tab3" >
            <h6>Porque</h6>
          </ion-tab-button>
        </ion-col>
        <ion-col style="right:36%">
               <ion-tab-button tab="tab2" >
            <h6>Recursos</h6>
          </ion-tab-button>
        </ion-col>
        <ion-col style="right:36%">
            <ion-tab-button tab="tab4">
            <h6>Começando</h6>
          </ion-tab-button>
        </ion-col>
        <ion-col style="right:36%">
          <ion-tab-button tab="precos">
            <h6>Preços</h6>
          </ion-tab-button>
        </ion-col>
        </ion-grid>


        <ion-grid style="display: flex; align-items: row;">
        <ion-col offset="3"  class="entrar">
          <ion-tab-button tab="login">
          <ion-button size="medium">Entrar</ion-button>
          </ion-tab-button>
        </ion-col>
      <ion-col style="right:6%" class="cadastrar">
          <ion-tab-button tab="cadastrar">
          <ion-button size="medium">cadastrar</ion-button>
          </ion-tab-button>
        </ion-col>
        </ion-grid>



      </ion-item>
    </ion-list>
  </ion-grid>
</ion-toolbar>




<ion-content [fullscreen]="true">


  <img src="/TCC-222/src/app/Imgs/ImgsHome/Img1Home.svg" alt="img1home" />

<div style="margin-bottom: 35%;">
<div style="justify-content: center; display: flex; margin-top: 125px; ">
  <h1 style="font-size: 250%; ">O Melhor Para O Futuro De Sua Criança!!</h1>
  </div><br />

  <div style="justify-content: center; display: flex;">
  <button style="background-color: #4CBE78;">Experimente nosso app</button>
  </div><br>
  <div style="justify-content: center; display: flex; ">
      <button style="border: 2px solid #4CBE78; color: #4CBE78; background-color: transparent ;">Veja nossos planos</button>
      </div>
  <br /><br />
   </div>

   <div class="Header_body"><h1>Frase do Aplicativo</h1></div>
  <br />

  <!--Texto imagens-->
  <div class="grupoImgText" style=" display: inline; text-align: center;">
    <div class="img1Text1" style="margin-top: 15%;">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="titulo_imagens"><h2>Titulo aleatorio site1</h2></div>
            <div class="texto_imagens">
              <h3>Texto aleatorio de para o site1</h3>
            </div>
          </ion-col>
          <ion-col>
            <ion-img src="/TCC-222/src/app/Imgs/ImgsHome/Img1Home.svg" alt="img1home" ></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <br /><br />
    <div class="img2Text2" style="margin-top: 15%;">
      <ion-grid>
        <ion-row>
          <ion-col>
            <img src="/img2" alt="img2home" />
          </ion-col>
          <ion-col>
            <div class="titulo_imagens"><h2>Titulo aleatorio site2</h2></div>
            <div class="texto_imagens">
              <h3>Texto aleatorio de para o site2</h3>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <br /><br />
    <div class="img3Text3" style="margin-top: 15%;">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="titulo_imagens"><h2>Titulo aleatorio site3</h2></div>
            <div class="texto_imagens">
              <h3>Texto aleatorio de para o site3</h3>
            </div>
          </ion-col>
          <ion-col >
            <img src="/img3" alt="img3home" />
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
<br>
    <div class="img4Text4"  style="margin-top: 25%;">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="titulo_imagens"><h2>Titulo aleatorio site4</h2></div>
            <div class="texto_imagens">
              <h3>Texto aleatorio de para o site4</h3>
            </div>
          </ion-col>
          <ion-col>
            <div>
            <img src="/img4" alt="img4home" />
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

<br><br>



  <div class="img5Text5Accordion">
    <ion-grid>
      <ion-row>
        <ion-col>
<div class="titulo_imagens_accordion_topo"><p>Titulo pequeno aleatorio site5</p></div>
    <div class="titulo_imagens_accordion"><p>Titulo aleatorio site5</p></div>
    <div class="texto_imagens_accordion"><p>Texto aleatorio de para o site5</p></div>
    <ion-accordion-group>
      <ion-accordion value="first" class="accordionHome" >
        <ion-item slot="header" color="light" style=" box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
          <ion-label>First Accordion</ion-label>
          <ion-icon
                  class="ion-accordion-toggle-icon custom-icon"
                  name="caret-down"
                  slot="end" >
                </ion-icon>
        </ion-item>
        <div class="ion-padding" slot="content">First Content</div>
      </ion-accordion>

      <ion-accordion value="second" class="accordionHome">
        <ion-item slot="header" color="light" style=" box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
          <ion-label>Second Accordion</ion-label>
            <ion-icon
                  class="ion-accordion-toggle-icon custom-icon"
                  name="caret-down"
                  slot="end" >
                </ion-icon>
        </ion-item>
        <div class="ion-padding" slot="content">Second Content</div>
      </ion-accordion>

      <ion-accordion value="third" class="accordionHome">
        <ion-item slot="header" color="light" style=" box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
          <ion-label>Third Accordion</ion-label>
            <ion-icon
                  class="ion-accordion-toggle-icon custom-icon"
                  name="caret-down"
                  slot="end" >
                </ion-icon>
        </ion-item>
        <div class="ion-padding" slot="content">Third Content</div>
      </ion-accordion>


      <ion-accordion value="fourth" class="accordionHome">
        <ion-item slot="header" color="light" style=" box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
          <ion-label>Fourth Accordion</ion-label>
            <ion-icon
                  class="ion-accordion-toggle-icon custom-icon"
                  name="caret-down"
                  slot="end" >
                </ion-icon>
        </ion-item>
        <div class="ion-padding" slot="content">Fourth Content</div>
      </ion-accordion>
    </ion-accordion-group>
    </ion-col>
  <ion-col>
    <div style=" margin-top: 25%; margin-left: 20%;">
    <img src="/img5" alt="img5home" />
  </div>
  </ion-col>
  </ion-row>
</ion-grid>
  </div>


    <!--Cards dos Pais-->
  <div class="cardsPaiscomTitulo" >
    <div class="titulo_cardsPais"><h2>Titulo aleatorio Pais</h2></div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="cardPais">
            <ion-card style="width: 60%;display: relative; margin: 0px auto;">
              <img
                alt="Silhouette of mountains"
                src="https://ionicframework.com/docs/img/demos/card-media.png"
              />
              <ion-card-header>
                <ion-card-title>Card Title</ion-card-title>
                <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
              </ion-card-header>

              <ion-card-content>
                Here's a small text description for the card content. Nothing
                more, nothing less.
              </ion-card-content>
            </ion-card>
          </div>
        </ion-col>

        <ion-col>
          <div class="cardPais">
            <ion-card style="width: 60%;display: relative; margin: 0px auto;">
              <img
                alt="Silhouette of mountains"
                src="https://ionicframework.com/docs/img/demos/card-media.png"
              />
              <ion-card-header>
                <ion-card-title>Card Title</ion-card-title>
                <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
              </ion-card-header>

              <ion-card-content>
                Here's a small text description for the card content. Nothing
                more, nothing less.
              </ion-card-content>
            </ion-card>
          </div>
        </ion-col>

        <ion-col>
          <div class="cardPais">
            <ion-card style="width: 60%;display: relative; margin: 0px auto;">
              <img
                alt="Silhouette of mountains"
                src="https://ionicframework.com/docs/img/demos/card-media.png"
              />
              <ion-card-header>
                <ion-card-title>Card Title</ion-card-title>
                <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
              </ion-card-header>

              <ion-card-content>
                Here's a small text description for the card content. Nothing
                more, nothing less.
              </ion-card-content>
            </ion-card>
          </div>
       </ion-col>
      </ion-row>
    </ion-grid>
  </div>


  <div class="criarConta">
    <ion-grid>
<ion-row>
<ion-col>
    <img src="/imgConta" alt="imgConta" />
</ion-col>
  <ion-col>
  <div class="titulo_imagens"><h2>Criar sua Conta</h2></div>
<ion-button shape="round">Cadastrar-se</ion-button>
</ion-col>
  </ion-row>
  </ion-grid>
  </div>
</ion-content>
