<style>
  .cardPais {
    width: 85%;
  }
  .entrar{
    margin-right: -17%;
  }

  .EntrarCadastrarGrupo{
    margin-right: 2%;
  }


</style>


<ion-toolbar>
  <ion-grid>
    <ion-list>
      <ion-item>
        <ion-col>
          <ion-tab-button tab="tab1">
            <h2>Nino</h2>
          </ion-tab-button>
        </ion-col>


        <ion-col>
<!--  <ion-accordion-group>
            <ion-accordion value="first">
              <ion-item slot="header">
                <ion-label>Produto</ion-label>
              </ion-item>
              <ion-tab-button tab="tab3" slot="content">
            <h4>Por que</h4>
          </ion-tab-button>
               <ion-tab-button tab="tab2" slot="content">
            <h4>Recursos</h4>
          </ion-tab-button>
            <ion-tab-button tab="tab4" slot="content">
            <h4>Começando</h4>
          </ion-tab-button>
            </ion-accordion>
          </ion-accordion-group>
          -->
<ion-tab-button id="popover-button">
            <h2>Produto</h2>
          </ion-tab-button>
          <ion-popover trigger="popover-button" [dismissOnSelect]="true">
  <ng-template>

  <ion-tab-button>Recursos</ion-tab-button>

  </ng-template>
</ion-popover>




        </ion-col>




        <ion-col>
          <ion-tab-button tab="precos">
            <h5>Preços</h5>
          </ion-tab-button>
        </ion-col>


        <ion-col class="EntrarCadastrarGrupo">
<ion-row>
        <ion-col class="entrar">
          <ion-tab-button tab="login">
          <ion-button size="medium">Entrar</ion-button>
          </ion-tab-button>
        </ion-col>
      <ion-col class="cadastrar">
          <ion-tab-button tab="cadastrar">
          <ion-button size="medium">cadastrar</ion-button>
          </ion-tab-button>
        </ion-col>

</ion-row>
</ion-col>

      </ion-item>
    </ion-list>
  </ion-grid>
</ion-toolbar>




<ion-content [fullscreen]="true">


  <h1>O melhor para o futuro de sua Criança!!</h1>
  <br />
  <div>
    <button>Experimente nosso app</button><br /><br />
    <button>Veja nossos planos</button>
  </div>
  <br /><br />
  <div class="Header_body"><h1>aaaaaaaaaaaaaaaa</h1></div>
  <br />

  <!--Texto imagens-->
  <div class="grupoImgText" >
    <div class="img1Text1">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="titulo_imagens"><h2>Titulo aleatorio site1</h2></div>
            <div class="texto_imagens">
              <h3>Texto aleatorio de para o site1</h3>
            </div>
          </ion-col>
          <ion-col>
            <img src="/img1" alt="img1home" />
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <br /><br />
    <div class="img2Text2">
      <ion-grid>
        <ion-row>
          <ion-col>
            <img src="/img2" alt="img2home" />
          </ion-col>
          <ion-col>
            <div class="titulo_imagens"><h2>Titulo aleatorio site2</h2></div>
            <div class="texto_imagens">
              <h3>Texto aleatorio de para o site2</h3>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <br /><br />
    <div class="img3Text3">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="titulo_imagens"><h2>Titulo aleatorio site3</h2></div>
            <div class="texto_imagens">
              <h3>Texto aleatorio de para o site3</h3>
            </div>
          </ion-col>
          <ion-col >
            <img src="/img3" alt="img3home" />
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <br /><br>
    <div class="img4Text4"  >
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="titulo_imagens"><h2>Titulo aleatorio site4</h2></div>
            <div class="texto_imagens">
              <h3>Texto aleatorio de para o site4</h3>
            </div>
          </ion-col>
          <ion-col>
            <div>
            <img src="/img4" alt="img4home" />
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
<br><br>
  <div class="img5Text5Accordion">
    <ion-grid>
      <ion-row>
        <ion-col>
    <div class="titulo_imagens"><h2>Titulo aleatorio site5</h2></div>
    <div class="texto_imagens"><h3>Texto aleatorio de para o site5</h3></div>
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label>First Accordion</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">First Content</div>
      </ion-accordion>

      <ion-accordion value="second">
        <ion-item slot="header" color="light">
          <ion-label>Second Accordion</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">Second Content</div>
      </ion-accordion>

      <ion-accordion value="third">
        <ion-item slot="header" color="light">
          <ion-label>Third Accordion</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">Third Content</div>
      </ion-accordion>


      <ion-accordion value="fourth">
        <ion-item slot="header" color="light">
          <ion-label>Fourth Accordion</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">Fourth Content</div>
      </ion-accordion>
    </ion-accordion-group>
    </ion-col>
  <ion-col>
    <div style=" margin-top: 25%; margin-left: 20%;">
    <img src="/img5" alt="img5home" />
  </div>
  </ion-col>
  </ion-row>
</ion-grid>
  </div>


    <!--Cards dos Pais-->
  <div class="cardsPaiscomTitulo">
    <div class="titulo_cardsPais"><h2>Titulo aleatorio Pais</h2></div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="cardPais">
            <ion-card>
              <img
                alt="Silhouette of mountains"
                src="https://ionicframework.com/docs/img/demos/card-media.png"
              />
              <ion-card-header>
                <ion-card-title>Card Title</ion-card-title>
                <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
              </ion-card-header>

              <ion-card-content>
                Here's a small text description for the card content. Nothing
                more, nothing less.
              </ion-card-content>
            </ion-card>
          </div>
        </ion-col>

        <ion-col>
          <div class="cardPais">
            <ion-card>
              <img
                alt="Silhouette of mountains"
                src="https://ionicframework.com/docs/img/demos/card-media.png"
              />
              <ion-card-header>
                <ion-card-title>Card Title</ion-card-title>
                <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
              </ion-card-header>

              <ion-card-content>
                Here's a small text description for the card content. Nothing
                more, nothing less.
              </ion-card-content>
            </ion-card>
          </div>
        </ion-col>

        <ion-col>
          <div class="cardPais">
            <ion-card>
              <img
                alt="Silhouette of mountains"
                src="https://ionicframework.com/docs/img/demos/card-media.png"
              />
              <ion-card-header>
                <ion-card-title>Card Title</ion-card-title>
                <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
              </ion-card-header>

              <ion-card-content>
                Here's a small text description for the card content. Nothing
                more, nothing less.
              </ion-card-content>
            </ion-card>
          </div>
       </ion-col>
      </ion-row>
    </ion-grid>
  </div>


  <div class="criarConta">
    <ion-grid>
<ion-row>
<ion-col>
    <img src="/imgConta" alt="imgConta" />
</ion-col>
  <ion-col>
  <div class="titulo_imagens"><h2>Criar sua Conta</h2></div>
<ion-button shape="round">Cadastrar-se</ion-button>
</ion-col>
  </ion-row>
  </ion-grid>
  </div>
</ion-content>
