<style>
  .cardPais {
    width: 85%;
  }

  .entrar {
    padding-left: 10%;
  }
  .cadastrar {
    padding-right: 10%;
  }
</style>
<ion-toolbar class="navbar" >
  <ion-grid  >
    <ion-list >
      <ion-item >


     <ion-col style="right:9%">
          <ion-tab-button tab="tab1">
            <h1>Nino</h1>
          </ion-tab-button>
        </ion-col>


<ion-grid style="display: flex; align-items: row;">
        <ion-col style="right:36%">
              <ion-tab-button tab="tab3" >
            <h6>Porque</h6>
          </ion-tab-button>
        </ion-col>
        <ion-col style="right:36%">
               <ion-tab-button tab="tab2" >
            <h6>Recursos</h6>
          </ion-tab-button>
        </ion-col>
        <ion-col style="right:36%">
            <ion-tab-button tab="tab4">
            <h6>Começando</h6>
          </ion-tab-button>
        </ion-col>
        <ion-col style="right:36%">
          <ion-tab-button tab="precos">
            <h6>Preços</h6>
          </ion-tab-button>
        </ion-col>
        </ion-grid>


        <ion-grid style="display: flex; align-items: row;">
        <ion-col offset="3"  class="entrar">
          <ion-tab-button tab="login">
          <ion-button size="medium">Entrar</ion-button>
          </ion-tab-button>
        </ion-col>
      <ion-col style="right:6%" class="cadastrar">
          <ion-tab-button tab="cadastrar">
          <ion-button size="medium">cadastrar</ion-button>
          </ion-tab-button>
        </ion-col>
        </ion-grid>







      </ion-item>
    </ion-list>
  </ion-grid>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <div style="justify-content: center; display: flex; margin-top: 125px">
    <h1 style="font-size: 250%">O que temos para você!!</h1>
  </div>

  <div class="grupoImgText" style="display: inline">
    <div class="img1Text1" style="padding: 5%">
      <ion-grid>
        <ion-row style="display: flex; align-items: center">
          <ion-col style="padding-left: 10%">
            <div class="titulo">
              <h2 style="font-size: 30px; color: #373737">
                <strong>Uma nova oportunidade!</strong>
              </h2>
            </div>
            <div class="texto">
              <h5
                style="
                  display: flex;
                  justify-content: start;
                  align-items: start;
                  font-weight: normal;
                  font-size: 19px;
                  width: 80%;
                  color: #555555;
                "
              >
                Menos distrações digitais significam mais momentos reais com a
                família, crianças crescem com limites claros e hábitos digitais
                positivos. Jovens aprendem a usar a tecnologia de forma
                consciente e equilibrada.
              </h5>
            </div>
          </ion-col>

          <ion-col style="display: inline; height: 200%">
            <ion-img
              src="/assets/img/Recursos/Group 239219.svg"
              alt="Gabriel Costa"
              style="height: 40%; width: 50%"
            ></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="img2Text2" style="margin-top: -12%; padding: 5%">
      <ion-grid>
        <ion-row style="display: flex; align-items: center">
          <ion-col style="display: inline; height: 200%">
            <ion-img
              src="/assets/img/Recursos/Group 239262.svg"
              alt="Gabriel Costa"
              style="height: 90%; width: 90%"
            ></ion-img>
          </ion-col>

          <ion-col>
            <div class="titulo">
              <h2 style="font-size: 30px; color: #373737">
                <strong>Proteção online 24 horas</strong>
              </h2>
            </div>
            <div class="texto">
              <h5
                style="
                  display: flex;
                  justify-content: start;
                  align-items: start;
                  font-weight: normal;
                  font-size: 19px;
                  width: 80%;
                  color: #555555;
                "
              >
                Temos uma proteção 24 horas para sua criança, onde você pode
                monitorar diariamente os aplicativos mais utilizados por ela, e,
                regular o tempo, ajudando com o foco e atenção de seu filho
              </h5>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="grupoImgText" style="display: inline">
      <div class="img1Text1" style="padding: 5%">
        <ion-grid>
          <ion-row style="display: flex; align-items: center">
            <ion-col style="padding-left: 10%">
              <div class="titulo">
                <h2 style="font-size: 30px; color: #373737">
                  <strong>Monitoramento parental</strong>
                </h2>
              </div>
              <div class="texto">
                <h5
                  style="
                    display: flex;
                    justify-content: start;
                    align-items: start;
                    font-weight: normal;
                    font-size: 19px;
                    width: 80%;
                    color: #555555;
                  "
                >
                  Interface centralizada para que os pais acompanhem o uso dos
                  dispositivos dos filhos em tempo real. Defina quanto tempo
                  cada app pode ser usado por dia. Bloqueio automático de sites
                  e conteúdos impróprios com base na faixa etária. Modo Escola -
                  Restringe o uso de apps durante o horário escolar, permitindo
                  apenas ferramentas educacionais. E muito mais!!
                </h5>
              </div>
            </ion-col>

            <ion-col style="display: inline; height: 200%">
              <ion-img
                src="/assets/img/Recursos/Group 239227 (1).svg"
                alt="Gabriel Costa"
                style="height: 90%; width: 100%"
              ></ion-img>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>

    <div class="img2Text2" style="margin-top: -12%; padding: 5%">
      <ion-grid>
        <ion-row style="display: flex; align-items: center">
          <ion-col style="display: inline; height: 200%">
            <ion-img
              src="/assets/img/Recursos/Group 239263.svg"
              alt="Gabriel Costa"
              style="height: 90%; width: 90%"
            ></ion-img>
          </ion-col>

          <ion-col>
            <div class="titulo">
              <h2 style="font-size: 30px; color: #373737">
                <strong>Perfil único para seu conforto</strong>
              </h2>
            </div>
            <div class="texto">
              <h5
                style="
                  display: flex;
                  justify-content: start;
                  align-items: start;
                  font-weight: normal;
                  font-size: 19px;
                  width: 80%;
                  color: #555555;
                "
              >
                Sugestões de pausas e desafios semanais para reduzir o uso
                excessivo de dispositivos. Ferramentas para categorizar e
                ocultar aplicativos não essenciais. Redução de distrações com
                filtros de notificações realmente importantes. Indicadores de
                equilíbrio entre tempo online e offline.
              </h5>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <div style="display: inline; text-align: center">
    <h1 style="font-size: 250%; padding: 5%">
      Nós oferecemos proteção de ponta para sua criança!
    </h1>
    <div class="texto" style="padding-left: 5%; padding-right: 5%">
      <h5
        style="
          font-weight: normal;
          font-size: 19px;
          width: 80%;
          color: #555555;
          display: inline;
          text-align: center;
        "
      >
        Sugestões de pausas e desafios semanais para reduzir o uso excessivo de
        dispositivos. Ferramentas para categorizar e ocultar aplicativos não
        essenciais. Redução de distrações com filtros de notificações realmente
        importantes. Indicadores de equilíbrio entre tempo online e offline.
      </h5>
    </div>
  </div>

  <ion-footer>
    <div >
      <ion-grid style="display: flex; justify-content:  start; padding: 5%; margin-top: 10%;">
        <ion-list>
          <ion-row>
            <ion-col>
             <ul> <h4><strong>Empresa</strong></h4></ul>
              <ul>
                <h6>Sobre Nós</h6>
              </ul>
              <ul>
               <h6> Contate-nos</h6>
              </ul>
            </ion-col>
            <ion-col>
             <ul> <h4><strong>Produto</strong></h4></ul>
          <ul >
            <ion-tab-button tab="tab3">
              <h6>Porque</h6>
            </ion-tab-button>
          </ul>
          <ul >
            <ion-tab-button tab="tab2">
              <h6>Recursos</h6>
            </ion-tab-button>
          </ul>
          <ul >
            <ion-tab-button tab="tab4">
              <h6>Começando</h6>
            </ion-tab-button>
          </ul>
          <ul >
            <ion-tab-button tab="precos">
              <h6>Preços</h6>
            </ion-tab-button>
          </ul>
            </ion-col>
          </ion-row>
        </ion-list>
      </ion-grid>

<ion-item style="display: inline; text-align: start;">
  <ion-label>
2025 Todos direitos reservados / Fiap School
  </ion-label>
</ion-item>
    </div>
  </ion-footer>
</ion-content>
